.avatar {
	width: 100px;
	height: 100px;
}


/*Display */
.user-view {
	display:none;
}



/*User*/
[data-mobile-user="true"] .display-view {
	display: none;
}

[data-mobile-user="true"] .user-view {
	display: block;
}
