.avatar {
	width: 100px;
	height: 100px;
}

.container {
	box-sizing: border-box;
	 width: 100%;
    height: 200px;
    border: 1px solid blue;
padding-top: 90px;
padding-bottom: 100px;
    text-align: center;

}

.fade-in {
	animation: growFade 250ms linear;
}
.box-display {
	box-sizing: border-box;
	width: 100%;
    height: 200px;
    border: 1px solid blue;
	padding-top: 90px;
}

/*Display */
.user-view {
	display:none;
}

/*User*/
[data-mobile-user="true"] .display-view {
	display: none;
}

[data-mobile-user="true"] .user-view {
	display: block;
}


/*Shapes*/

#square {
	width: 100px;
	height: 100px;
	background: this.color;
}
#rectangle {
	width: 200px;
	height: 100px;
	background: this.color;
}
		
#rectangleTall {
	width: 100px;
	height: 200px;
	background: this.color;
}


		